{% extends 'NetworkApp/base.html' %}
{% block content %}

{% load static %}
<main>
    <div class="main-wrapper pb-0 mb-0">
        <div class="timeline-wrapper overflow-hidden">
            <div class="timeline-header">
                <div class="container-fluid p-0">
                    <div class="row g-0 align-items-center">
                        <div class="col-lg-6">
                            <div class="timeline-logo-area d-flex align-items-center">
                                <div class="timeline-logo">
                                    <a href="index.html">
                                        <img src="{% static 'NetworkApp/images/logo/logo.png' %}" alt="timeline logo">
                                    </a>
                                </div>
                                <div class="timeline-tagline">
                                    <h6 class="tagline">It’s helps you to connect and share with the people in your life
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="login-area">
                                <div class="row align-items-center">
                                    <div class="col-12 col-sm">
                                        <input type="text" placeholder="Email or Userame" class="single-field">
                                    </div>
                                    <div class="col-12 col-sm">
                                        <input type="password" placeholder="Password" class="single-field">
                                    </div>
                                    <div class="col-12 col-sm-auto">
                                        <button class="login-btn">Login</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline-page-wrapper">
                <div class="container-fluid p-0">
                    <div class="row g-0">
                        <div class="col-lg-6 order-2 order-lg-1">
                            <div class="timeline-bg-content bg-img"
                                data-bg="{% static 'NetworkApp/images/timeline/signupback.png' %}">
                                <h3 class="timeline-bg-title">Let’s see what’s happening to you and your world. Welcome
                                    in Adda.</h3>
                            </div>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 d-flex align-items-center justify-content-center">
                            <div class="signup-form-wrapper">
                                <h1 class="create-acc text-center">Create An Account</h1>
                                <div class="signup-inner text-center">
                                    <h3 class="title">Wellcome to Adda</h3>
                                    <form class="signup-inner--form" method="post" action="{% url 'signup' %}">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-12">
                                                {{ form.email }}
                                            </div>
                                            <div class="col-md-12">
                                                {{ form.username }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form.first_name }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form.last_name }}
                                            </div>
                                            <div class="col-12">
                                                {{ form.password1 }}
                                            </div>
                                            <div class="col-12">
                                                {{ form.password2 }}
                                            </div>
                                            <div>
                                                {% for i in messages %}
                                                <span class="text-danger" > 
                                                    {{i}} 
                                                </span> 
                                                {% endfor %}
                                            </div>
                                            <!-- <div class="col-md-6">
                                                <select class="nice-select" name="sortby">
                                                    <option value="trending">Gender</option>
                                                    <option value="sales">Male</option>
                                                    <option value="sales">Female</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <select class="nice-select" name="sortby">
                                                    <option value="trending">Age</option>
                                                    <option value="sales">18+</option>
                                                    <option value="sales">18-</option>
                                                </select>
                                            </div>
                                            <div class="col-12">
                                                <select class="nice-select" name="sortby">
                                                    <option value="trending">Country</option>
                                                    <option value="sales">Bangladesh</option>
                                                    <option value="sales">Noakhali</option>
                                                    <option value="sales">Australia</option>
                                                    <option value="sales">China</option>
                                                </select>
                                            </div> -->
                                            <div class="col-12">
                                                <button type="submit" class="submit-btn">Create Account</button>
                                            </div>
                                        </div>
                                        <h6 class="terms-condition">I have read & accepted the <a href="#">terms of
                                                use</a></h6>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}